[Desktop Entry]
Name=blugon-lite TUI
Comment=Blue Light Filter - Configurar horarios y temperatura de pantalla
Exec=blugon-lite-tui
Terminal=true
Type=Application
Categories=Utility;Settings;HardwareSettings;
Icon=blugon-lite
Keywords=blue light;filter;screen;temperature;night;
StartupNotify=false
NoDisplay=false
